body{
font-family:Arial, sans-serif;
background:#ffeef5;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
margin:0;
}

.container{
background:white;
padding:30px;
width:320px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
text-align:center;
}

h2{
margin-bottom:20px;
color:#ff5e9c;
}

label{
display:block;
text-align:left;
margin-top:10px;
font-size:14px;
}

input{
width:100%;
padding:10px;
margin-top:5px;
border-radius:8px;
border:1px solid #ddd;
outline:none;
}

input:focus{
border-color:#ff5e9c;
}

small{
color:red;
font-size:12px;
}

.password-box{
display:flex;
gap:5px;
}

.password-box button{
border:none;
background:#ff5e9c;
color:white;
padding:8px 10px;
border-radius:8px;
cursor:pointer;
}

.strength{
height:6px;
background:#eee;
margin-top:6px;
border-radius:5px;
}
#passwordStrength{
font-size:13px;
margin-top:5px;
font-weight:bold;
}
.submitBtn{
margin-top:15px;
width:100%;
padding:10px;
background:#ff5e9c;
color:white;
border:none;
border-radius:10px;
font-size:16px;
cursor:pointer;
transition:0.2s;
}

.submitBtn:hover{
background:#ff3b86;
transform:scale(1.03);
}